* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.header_text {
  display: flex;
  background-color: rgb(178, 166, 166);
  padding: 20px;
  justify-content: center;
}
.main {
  display: flex;
  justify-content: space-around;
}
.main2 {
  display: flex;
}
.main2_div {
  background-color: rgba(207, 207, 82, 0.916);
  padding: 20px;
  margin: 10px;
}
.main1 {
  background-color: rgba(234, 239, 126, 0.916);
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(178, 166, 166);
}
.aside {
  background-color: rgb(179, 235, 149);
}
.footer_div {
  padding: 20px;
  background-color: #fff;
  margin: 10px;
}
.h1 {
  display: flex;
  justify-content: center;
}
